<h2>Sign up</h2>

<form id="sign-up">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, class: "label-email" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "user-email" %>
  </div>

  <div class="field" id="signup-password">
    <%= f.label :password, class: "label-min-password" %>
    <% if @minimum_password_length %>
    <em id="min-password">(<%= @minimum_password_length %> characters minimum)</em>
    <br>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "user-password" %>
  </div>

  <div class="field signup-password">
    <%= f.label :password_confirmation, class: "label-password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "user-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</form><!-- end sign-up -->

<div class="access-click">
  <%= render "devise/shared/links" %>
</div>
