    <div class="item<%= " active" if product == @products.first %>">
      <span><%= image_tag(product.image_url, class: "left-pic") %>
      <%= image_tag(product.image_url, class: "center-pic") %>
      <%= image_tag(product.image_url, class: "right-pic") %></span>
      <div class="carousel-caption">
        <%= link_to "#{product.name}", products_path, id:"caption" %>
      </div>
    </div>
