<br>
<br>
<br>

<p id="notice"><%= notice %></p>

<p class="show-names">
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p class="show-names">
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<div class="link-frame">
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</div>
