<p id="notice"><%= notice %></p>

<br>

<h1>Products</h1>

<br>
<br>

<div id="new-products">
  <%= link_to 'New Product', new_product_path %>
</div>

<div class="container-fluid">
  <div class="row products-row">
    <% @products.each do |product| %>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 products-display">
        <div class="products-background">
          <br></br>
          <%= image_tag(product.image_url, class: "img-responsive products-pix") unless product.image_url.nil? %>
          <a href="#"><h3><%= product.name %></h3></a>
          <p class="products-details"><%= product.description %></p>
          <p class="products-details" id="colour"><%= product.colour %></p>
          <strong><p class="products-details">€<%= product.price %></p></strong>
          <br>
          <span class="links-products"><%= link_to 'Show', product %></span>
          <span class="links-products"><%= link_to 'Edit', edit_product_path(product) %></span>
          <span class="links-products"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></span>
          <br></br>
          <br></br>
          <br></br>
        </div><!-- end products-background -->
      </div><!-- /col -->
      <!-- <br>
      <br> -->
    <% end %>
  </div>
</div>

<br>
<br>

<!-- <table>
  <thead>
    <tr class="table-row">
      <th id="name">Name</th>
      <th id="description">Description</th>
      <th id="image">Image url</th>
      <th id="colour">Colour</th>
      <th id="price">Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr class="table-row">
        <td class="product-table"><div class="product-details"><%= product.name %></td>
        <td class="product-table"><div class="product-details"><%= product.description %></td>
        <td class="product-table"><div class="product-details"><%= product.image_url %></td>
        <td class="product-table"><div class="product-details"><%= product.colour %></td>
        <td class="product-table"><div class="product-details"><%= product.price %></td>
        <td class="links-products"><%= link_to 'Show', product %></td>
        <td class="links-products"><%= link_to 'Edit', edit_product_path(product) %></td>
        <td class="links-products" id="final-link"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<!-- <%# paragraph_number = 1 %>
<%# 5.times do %>
  <p>This is paragraph number <%#= paragraph_number %></p>
  <%# paragraph_number = paragraph_number + 1 %>
<%# end %> -->
