<br>
<!-- <p id="notice"><%= notice %></p> -->

<br>

<!-- <%= params[:example_key].to_i * 10 %> -->

<br>

<h1>Salutations from The Mixer</h1>

<h2>Your hub for all kinds of creative mixes</h2>
<br class="titles-spread">
<br class="titles-spread">
<br class="titles-spread">
<br>
<br>
<hr>
<div id="new-products">
  <%= link_to 'New Product', new_product_path %>
</div>
<hr>
<br>
<br>
<h5>All Products</h5>

<div class="container-fluid products-overview">
  <div class="row products-row">
    <%= render @products %>
  </div>
</div>

<div class="pages-frame">
  <%= will_paginate @products, :previous_label => '←', :next_label => '→' %>
</div>

<!-- <table>
  <thead>
    <tr class="table-row">
      <th id="name">Name</th>
      <th id="description">Description</th>
      <th id="image">Image url</th>
      <th id="colour">Colour</th>
      <th id="price">Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr class="table-row">
        <td class="product-table"><div class="product-details"><%= product.name %></td>
        <td class="product-table"><div class="product-details"><%= product.description %></td>
        <td class="product-table"><div class="product-details"><%= product.image_url %></td>
        <td class="product-table"><div class="product-details"><%= product.colour %></td>
        <td class="product-table"><div class="product-details"><%= product.price %></td>
        <td class="links-products"><%= link_to 'Show', product %></td>
        <td class="links-products"><%= link_to 'Edit', edit_product_path(product) %></td>
        <td class="links-products" id="final-link"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<!-- <%# paragraph_number = 1 %>
<%# 5.times do %>
  <p>This is paragraph number <%#= paragraph_number %></p>
  <%# paragraph_number = paragraph_number + 1 %>
<%# end %> -->
