<br>

<p id="notice"><%= notice %></p>

<br>
<br>

<section class="product-info-background">
  <p class="newly-created">
    <strong class="product-header">Name:</strong>
    <br>
    <span class="product-input"><%= @product.name %></span>
  </p>

  <p class="newly-created">
    <strong class="product-header">Description:</strong>
    <br>
    <span class="product-input"><%= @product.description %></span>
  </p>

  <p class="newly-created">
    <strong class="product-header">Image url:</strong>
    <br>
    <span class="product-input"><%= @product.image_url %></span>
  </p>

  <p class="newly-created">
    <strong class="product-header">Colour:</strong>
    <br>
    <span class="product-input"><%= @product.colour %></span>
  </p>

  <p class="newly-created">
    <strong class="product-header">Price:</strong>
    <br>
    <span class="product-input">$<%= @product.price %></span>
  </p>
</section>

<br>
<br>

<div class="links-combo">
  <%= link_to 'Edit', edit_product_path(@product), :class => "links-show" %> |
  <%= link_to 'Back', products_path, :class => "links-show" %>
</div>
