<br>

<p id="notice"><%= notice %></p>

<br>
<br>

<p class="newly-created">
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p class="newly-created">
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p class="newly-created">
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p class="newly-created">
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<p class="newly-created">
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<br>

<%= link_to 'Edit', edit_product_path(@product), :class => "links-show" %> |
<%= link_to 'Back', products_path, :class => "links-show" %>
