<br>
<br>

<p id="notice"><%= notice %></p>

<br>
<br>

<section class="product-info-background">
  <p class="newly-created">
    <strong class="product-header">Name:</strong>
    <br>
    <span class="product-input"><%= @product.name %></span>
  </p>

  <p class="newly-created">
    <strong class="product-header">Description:</strong>
    <br>
    <span class="product-input"><%= @product.description %></span>
  </p>

  <p class="newly-created">
    <strong class="product-header">Image url:</strong>
    <br>
    <span class="product-input"><%= @product.image_url %></span>
  </p>

  <p class="newly-created">
    <strong class="product-header">Colour:</strong>
    <br>
    <span class="product-input"><%= @product.colour %></span>
  </p>

  <p class="newly-created">
    <strong class="product-header">Price:</strong>
    <br>
    <span class="product-input">$<%= @product.price %></span>
  </p>
  <br>
  <p class="newly-created" id="reviews">
    <strong class="product-header" id="reviews-header">Reviews – range:</strong>
    <br>
    <div id="ratings-range">
      <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
      <br>
        <span class="reviews-text">
          <b>
          <i class="fas fa-user-secret"></i>
          <span>Highest<br>
            <%= @product.highest_rating_comment %></span>
          <br>
          <i class="fas fa-user-secret"></i>
          <span>Lowest<br>
            <%= @product.lowest_rating_comment %><br></span></b>
        </span>
        <br>
    </div>
  </p>
</section>

<br>
<br>
<br>
<%= render 'new_comment' %>
<%= render 'comments' %>

<br>
<br>

<div class="links-combo">
  <%= link_to 'Edit', edit_product_path(@product), :class => "links-show" %> |
  <%= link_to 'Back', products_path, :class => "links-show" %>
</div>
